<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TextToSpeech.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <TextToSpeech.Properties.Settings>
            <setting name="voiceIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="rate" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="volume" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="letterKey" serializeAs="String">
                <value>y</value>
            </setting>
            <setting name="shift" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ctrl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="alt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="win" serializeAs="String">
                <value>False</value>
            </setting>
        </TextToSpeech.Properties.Settings>
    </userSettings>
</configuration>